
<div class= "row">
			<div class="container-fluid">
					<div class= "span12">
						<h2>Editing Project Task</h2>
						
						<%= render 'form' %><br><br>
						<%= link_to 'Back', projectchores_path, :class => 'btn btn-primary' %>
					</div>
			</div>
</div>
