 
<!-- <div class= "footer">
  
        <p>
          <br />&copy; <a href="http://www.cuberoot.in">Cuberoot Software India 2012</a>
          </p>
  
  
</div>
 -->
<footer class="footer">
   	
        <div class="container">
            
      			<small>&copy; <a href="http://www.cuberoot.in">Cuberoot Software India 2012</a><s/mall>
          	
    	</div>
</footer>