<!--  
<div class= "footer">
  
        <p>
          <br />&copy; <a href="http://www.cuberoot.in">Cuberoot Software India 2012</a>
          </p>
  
  
</div> -->

<footer class="footer">
    <div class="navbar" >	
        <div class="container-fluid">
            <nav>
       	     <ul class= "nav pull-right">
        	   	<!-- <li><%= link_to "About",   '#' %></li>
      			<li><%= link_to "Contact", '#' %></li> -->
      			<small>&copy; <a href="http://www.cuberoot.in">Cuberoot Software India 2012</a><s/mall>
              </ul>
        	</nav>
    	</div>
	</div>

</footer>