<div class="span6">
    <div class="row">
    <div class= "container-fluid">

    <div id="myCarousel" class="carousel slide">
                <div class="carousel-inner">
                  <div class="item active">
                    <%= image_tag "Apple-logo.jpg" %>
                     <div class="carousel-caption">
                       <p>Apple</p>
                    </div>
                  </div>

                  <div class="item">
                    <!-- <a class="carousel-control-left"></a> -->
                    <%= image_tag "google-logo.jpeg" %>
                     <div class="carousel-caption">
                      <!-- <h4>Second Thumbnail label</h4> -->
                      <p>Google</p>
                    </div>
                  </div>

                  <div class="item">
                    <%= image_tag "microsoft-logo.jpeg" %>
                     <div class="carousel-caption">
                      <!-- <h4>Third Thumbnail label</h4> -->
                      <p>Microsoft</p>
                    </div>
                  </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
</div>
</div>
</div>


